*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 2px solid red;
}

body {
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;

  color: $primary-text-color;

  @include for-size(desktop) {
    font-size: 18px;
    line-height: 1.56;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// доп.класс, который сбрасывает с ul маркеры и базовые маржины и паддинги
.enumeration {
  padding: 0;
  margin: 0;

  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  width: 100%;

  @include for-size(tablet-portrait) {
    width: 480px;
  }

  @include for-size(tablet-landscape) {
    padding-left: 40px;
    padding-right: 40px;

    width: 768px;
  }

  @include for-size(desktop) {
    padding-left: 62.5px;
    padding-right: 62.5px;

    width: 1440px;
  }
}

// .section-first для секций:
// registration,
// отзывы выпускников,
// teacher(перебить верхний паддинг из-за абсолюта соседней секции),
// our-program(перебить нижный паддинг из-за абсолюта соседней секции),
// how_we_do_it,
// main-problems(перебить нижный паддинг из-за абсолюта соседней секции),
// features,
// hero
.section-first {
  padding-top: 50px;
  padding-bottom: 50px;

  @include for-size(desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

// нет класса .section для секций Почему нас выбирают и guarantees (там только паддинги для ul внутри секции), и для footer - там свои стили

// .section-second для секции:
// header
.section-second {
  padding-top: 30px;

  @include for-size(tablet-landscape) {
    padding-top: 40px;
  }

  @include for-size(desktop) {
    padding-top: 30px;
  }
}

// common-title подходит для всех заголовков таблет(отличие - цвет), почти для всех заголовков десктоп (отличие цвет, в нескольких местах рх), для мобильной версии отличия нужно перебивать доп.классом определенной секции
.common-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;

  color: $title-text-color;

  @include for-size(tablet-landscape) {
    font-size: 26px;
    line-height: 1.3;
  }

  @include for-size(desktop) {
    font-size: 46px;
  }
}

// например для некоторых li и не только можно примениь этот класс, обратите внимание, что есть отличие в макете в счетчиках 01 и 04,наверное ошибка дизайнера
.common-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;

  color: $title-text-color;

  @include for-size(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}

// добавляет accent-color на текст //
.accent-color {
  color: $accent-color;
}
