// Палитра цветов //

$title-text-color: #111518;
$primary-text-color: #b9b9b9;
$secondary-text-color: #3d3d3d;

$accent-color: #ff6b09;

$primary-bg-color: #e5e5e5;
$secondary-bg-color: #111518;

$button-text-color: #ffffff;
// Шрифт //
$primary-font-family: 'Montserrat', sans-serif;
// Функции времени для анимации //
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
