.primary .button {
  display: none;

  @include for-size(tablet-landscape) {
    display: block;
  }

  // Позиционирование и геометрия
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 260px;

  // Визуализация
  background-color: transparent;
  color: $accent-color;

  // Текст
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  // Reset
  cursor: pointer;
  outline: none;
  text-decoration: none;

  //  Анимация
  transition: color $timing-function $transition-duration,
    background-color $timing-function $transition-duration;

  &:hover {
    color: #ffffff;
    background-color: $accent-color;
  }

  @include for-size(desktop) {
    padding-top: 27px;
    padding-bottom: 27px;
    min-width: 336px;

    // Текст
    font-weight: bold;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.14em;
    text-transform: uppercase;
  }
}

.button {
  // Позиционирование и геометрия
  position: relative;
  overflow: hidden;
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 260px;
  border: none;

  // Визуализация
  background-color: $accent-color;
  color: #ffffff;
  // border: 2px solid transparent;

  // Текст
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  // Reset
  cursor: pointer;
  outline: none;
  text-decoration: none;

  display: inline-block;
  text-align: center;

  // Анимация
  transition: color $timing-function $transition-duration,
    background-color $timing-function $transition-duration;

  & span:nth-child(1) {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from($accent-color),
      to(white)
    );
    background: -o-linear-gradient(left, $accent-color, white);
    background: linear-gradient(to right, $accent-color, white);
    -webkit-animation: animate1 8s ease-in-out infinite;
    animation: animate1 8s ease-in-out infinite;
  }

  @-webkit-keyframes animate1 {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  @keyframes animate1 {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  & span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 2px;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from($accent-color),
      to(white)
    );
    background: -o-linear-gradient(top, $accent-color, white);
    background: linear-gradient(to bottom, $accent-color, white);
    -webkit-animation: animate2 8s ease-in-out infinite;
    animation: animate2 8s ease-in-out infinite;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }

  @-webkit-keyframes animate2 {
    0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }

  @keyframes animate2 {
    0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }

  & span:nth-child(3) {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from($accent-color),
      to(white)
    );
    background: -o-linear-gradient(right, $accent-color, white);
    background: linear-gradient(to left, $accent-color, white);
    -webkit-animation: animate3 8s ease-in-out infinite;
    animation: animate3 8s ease-in-out infinite;
  }
  @-webkit-keyframes animate3 {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  @keyframes animate3 {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  & span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 2px;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from($accent-color),
      to(white)
    );
    background: -o-linear-gradient(bottom, $accent-color, white);
    background: linear-gradient(to top, $accent-color, white);
    -webkit-animation: animate4 8s ease-in-out infinite;
    animation: animate4 8s ease-in-out infinite;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  @-webkit-keyframes animate4 {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
  @keyframes animate4 {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: #ffffff;
  }

  @include for-size(desktop) {
    padding-top: 27px;
    padding-bottom: 27px;
    min-width: 354px;

    // Текст
    font-weight: bold;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.14em;
    text-transform: uppercase;
  }
}

// Кнопка для мобильного меню

.menu-button {
  // position: absolute;
  // right: 20px;
  margin-left: 40px;
  outline: none;
  padding: 0px;
  background-color: transparent;
  border: none;

  cursor: pointer;
  z-index: 6;

  // @include for-size(tablet-landscape) {
  //   right: 40px;
  // }
  // & .icon-menu {
  //   visibility: visible;
  //   opacity: 1;
  //   transition: opacity 2000ms $timing-function;
  // }

  // & .icon-close {
  //   visibility: hidden;
  //   opacity: 0;
  //   fill: #ffffff;

  // }

  // &.is-open .icon-menu {
  //   visibility: hidden;
  //   opacity: 0;

  // }

  // &.is-open .icon-close {
  //   visibility: visible;
  //   display: block;
  //   opacity: 1;
  //   transition: opacity 1800ms $timing-function;

  // }

  @include for-size(desktop) {
    display: none;
  }

  &:hover .icon-menu {
    fill: $accent-color;
  }
}

.mobile-menu + .menu-button .icon-menu {
  visibility: visible;
  opacity: 1;
  transition: opacity 2000ms $timing-function;
}

.mobile-menu + .menu-button .icon-close {
  visibility: hidden;
  opacity: 0;
  fill: #ffffff;
}

.menu-button:hover .icon-close {
  fill: $accent-color;
}

.mobile-menu.is-open + .menu-button .icon-menu {
  visibility: hidden;
  opacity: 0;
}

.mobile-menu.is-open + .menu-button .icon-close {
  visibility: visible;
  display: block;
  opacity: 1;
  // fill: #ffffff;
  transition: opacity 2000ms $timing-function;
}

// Button inside mobile-menu

.button-menu {
  display: block;

  // Позиционирование и геометрия

  padding-top: 14px;
  padding-bottom: 14px;
  max-width: 260px;
  margin-right: auto;
  margin-left: auto;

  @include for-size(tablet-portrait) {
    max-width: 260px;
  }

  // Визуализация
  border: 2px solid $accent-color;
  background-color: transparent;
  color: $accent-color;

  // Текст
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;

  // Reset
  cursor: pointer;
  outline: none;
  text-decoration: none;

  //  Анимация
  transition: color $timing-function $transition-duration,
    background-color $timing-function $transition-duration;

  &:hover {
    color: #ffffff;
    background-color: $accent-color;
  }

  @include for-size(tablet-landscape) {
    display: none;
  }
}

// Button UP

#button {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 10px;
  z-index: 1000;

  -webkit-transition: fill 0.3s, opacity 0.4s, visibility 0.4s,
    -webkit-transform 0.9s;

  transition: fill 0.3s, opacity 0.4s, visibility 0.4s, -webkit-transform 0.9s;

  -o-transition: fill 0.3s, opacity 0.4s, visibility 0.4s, transform 0.9s;

  transition: fill 0.3s, opacity 0.4s, visibility 0.4s, transform 0.9s;

  transition: fill 0.3s, opacity 0.4s, visibility 0.4s, transform 0.9s,
    -webkit-transform 0.9s;
  opacity: 0;
  visibility: hidden;
}

#button.show {
  opacity: 1;
  visibility: visible;

  & .icon-up {
    fill: $accent-color;
    transition: all $timing-function $transition-duration;
  }
}

#button:hover .icon-up {
  cursor: pointer;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
