.features-section {
  padding: 30px 0 50px 0;

  @include for-size(tablet-landscape) {
    padding: 50px 0;
  }

  @include for-size(desktop) {
    padding: 114px 0 130px 0;
  }
}
.features-content {
  @include for-size(max-tablet) {
    width: 100%;
    max-width: 480px;
    text-align: center;
  }
}
.features-list {
  @include for-size(max-tablet) {
    padding-right: 32px;
    padding-left: 32px;
    text-align: left;
  }
  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.features-item {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;

  @include for-size(phone-only) {
    position: relative;
  }
  @include for-size(tablet-portrait) {
    position: relative;
  }
  @include for-size(tablet-landscape) {
    width: calc(100% / 3);
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @include for-size(tablet-landscape) {
      margin-bottom: 0;
    }
  }
}

.features-icon-wrap {
  @include for-size(desktop) {
    position: absolute;
  }

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 60px;
  border: 2px solid $accent-color;
  z-index: -1;
  animation: mymovem 6s ease-in-out infinite alternate 2s;

  @keyframes mymovem {
    20% {
      transform: rotate(0deg);
      left: 0%;
    }
    90% {
      transform: rotate(540deg);
      left: 75%;
    }
    100% {
      transform: rotate(540deg);
      left: 75%;
    }
  }

  @include for-size(tablet-landscape) {
    position: relative;
    animation: mymovet 6s ease-in-out infinite alternate 2s;

    @keyframes mymovet {
      20% {
        transform: rotate(0deg);
        left: 0%;
      }
      90% {
        transform: rotate(540deg);
        left: 70%;
      }
      100% {
        transform: rotate(540deg);
        left: 70%;
      }
    }
  }

  @include for-size(max-desktop) {
    margin-right: 10px;
  }

  @include for-size(desktop) {
    position: absolute;
    width: 100px;
    height: 102px;
  }

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 4px;
    height: 70%;
    background-color: #fff;
    top: 50%;
    right: calc(100% - 58px);
    transform: translateY(-50%);

    @include for-size(desktop) {
      right: calc(100% - 99px);
    }
  }
}

.features-icon {
  fill: $accent-color;
  height: 40px;
  animation: moveicon 6s ease infinite alternate 2s;

  @keyframes moveicon {
    20% {
      transform: rotate(0deg);
    }
    90% {
      transform: rotate(540deg);
    }
    100% {
      transform: rotate(540deg);
    }
  }

  @include for-size(desktop) {
    height: 47px;
  }
}

.features-parapraph {
  position: relative;
  display: inline-block;
  animation: textslide 6s ease-in-out infinite alternate 2s;

  @keyframes textslide {
    20% {
      right: 0px;
    }
    90% {
      right: 25%;
    }
    100% {
      right: 25%;
    }
  }

  @include for-size(max-tablet) {
    width: calc(100% - 67px);
  }

  @include for-size(tablet-landscape) {
    position: relative;
    animation: textslide 6s ease-in-out infinite alternate 2s;

    @keyframes textslide {
      20% {
        right: 0px;
      }
      90% {
        right: 25%;
      }
      100% {
        right: 25%;
      }
    }
  }

  @include for-size(desktop) {
    padding-left: 82px;
    animation: textslide 6s ease-in-out infinite alternate 2s;

    @keyframes textslide {
      20% {
        right: 0px;
      }
      90% {
        right: 20%;
      }
      100% {
        right: 20%;
      }
    }
  }
}
