.block-guaranties {
  @include for-size(max-tablet) {
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
  }
}

.guaranties {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}

.list-guaranties {
  background-color: #f1f1f1;
  font-size: 12px;
  line-height: 1.66;
  color: $secondary-text-color;

  text-align: left;

  @include for-size(max-tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
  }

  @include for-size(tablet-landscape) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 118px;
    padding-right: 50px;
    background-color: #f1f1f1;
  }

  @include for-size(desktop) {
    padding-top: 50px;
    padding-bottom: 45px;
    padding-left: 164px;
    padding-right: 112px;
    font-size: 20px;
    line-height: 1.4;
  }

  & li:not(:last-child) {
    padding-bottom: 23px;
    border-left: 1px dashed $primary-text-color;

    @include for-size(desktop) {
      padding-bottom: 20px;
    }
  }
}

.item-guaranties {
  position: relative;

  padding-left: 40px;
}

.item-guaranties::after {
  content: '';
  width: 15px;
  height: 20px;
  position: absolute;
  left: -7px;
  top: 0;
  background-image: url(../images/icons/fire-color.svg);

  background-repeat: no-repeat;

  @include for-size(tablet-landscape) {
    left: -7px;
  }

  @include for-size(desktop) {
    left: -10px;
    width: 22px;
    height: 30px;
    background-size: cover;
  }
  background-position: bottom;
}
.item-guaranties:hover {
  //   cursor: default;
  &::after {
    animation-name: fire;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
}
@keyframes fire {
  from {
    background-size: 0;
  }
  50% {
    background-size: 100%;
  }

  51% {
    background-size: 100%;
  }
  to {
    background-size: 0;
  }
}
