// Стили основного контейнера секции hero и фоновый рисунок с его стилями
.hero-container {
  background-size: cover;
  background-repeat: no-repeat;

  @include for-size(tablet-landscape) {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @include for-size(max-tablet) {
    text-align: center;
  }

  @include for-size(min-mobile) {
    background-image: url('../images/pictures/hero-background.webp');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/pictures/hero-background@2x.webp');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/pictures/hero-background@3x.webp');
    }

    @include for-size(max-desktop) {
      background-size: 768px 557px;
    }
  }

  @include for-size(max-tablet) {
    background-position-x: -50px;
    background-position-y: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439.9px) {
    height: 507px;
    background-position-x: 0;
    background-position-y: -54px;
  }

  @include for-size(desktop) {
    height: 878px;
    background-size: 1440px 878px;
    background-position-x: -27px;
    background-position-y: 40px;
  }
}

// Стили контейнера с заголовком абзацем текста и кнопкой
.hero-main {
  color: $title-text-color;

  @include for-size(max-desktop) {
    display: inline-block;
    max-width: 275px;
    text-align: left;
  }

  @include for-size(desktop) {
    max-width: 608px;
  }

  @include for-size(max-tablet) {
    margin-bottom: 30px;
  }
}

// Стили заголовка секции hero
.main-title {
  font-weight: 800;
  color: $title-text-color;
  letter-spacing: .03em;

  @include for-size(max-desktop) {
    margin-bottom: 30px;
  }

  @include for-size(desktop) {
    margin-bottom: 24px;
  }

  @include for-size(max-tablet) {
    font-size: 20px;
    line-height: 1.35;
  }

  @media screen and (min-width: 768px) and (max-width: 1439.9px) {
    font-size: 26px;
    line-height: 1.3;
  }

  @include for-size(desktop) {
    font-size: 58px;
    line-height: 1.29;
  }
}

// Стили абзаца текста секции hero
.main-paragraph {
  font-weight: 700;

  @include for-size(max-desktop) {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.57;
  }

  @include for-size(desktop) {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.65;
  }
}

// Стили тэга span для изменения стилизации отдельной строки в абзаце текста
.main-paragraph-text {
  display: block;

  @include for-size(max-desktop) {
    font-weight: 500;
    color: $primary-text-color;
  }

  @include for-size(desktop) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.65;
    color: $primary-text-color;
  }
}

// Стили тэга span для стилизации фразы "+ 25 балов"
.main-paragraph-score {
  color: $accent-color;
}

// Стили контейнера кнопки
.button-container {
  @include for-size(max-tablet) {
    text-align: center;
  }
}

.button.hero-button {
  @include for-size(max-desktop) {
    padding-right: 1px;
    padding-left: 1px;
  }

  @include for-size(desktop) {
    padding: 26px;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: .14em;
  }
}

// Стили контейнера контентного изображения секции hero
.main-image {
  @include for-size(tablet-landscape) {
    position: absolute;
  }
  @include for-size(tablet-landscape) {
    width: 100%;
  }

  @include for-size(max-tablet) {
    display: inline-block;
    max-width: 208px;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1439.9px) {
    position: absolute;
    left: calc(100% - 394px);
    max-width: 376px;
  }

  @include for-size(desktop) {
    left: calc(100% - 770px);
    max-width: 735px;
  }
}