// Логотип//

.logo-link {

  width: 80px;
  height: 29px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/icons/logo-phone.svg);

  @include for-size(tablet-landscape) {
    margin-right: 230px;
    width: 128px;
    height: 45px;
    background-image: url(../images/icons/logo-main.svg);
  }

  @include for-size(desktop) {
    margin-right: 143px;
  }
}

.logo-link-menu {
  width: 80px;
  height: 29px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/icons/logo-phone-white.svg);

  @include for-size(tablet-landscape) {
    width: 128px;
    height: 45px;
    background-image: url(../images/icons/logo-main-white.svg);
  }
}