.our-program {
  position: relative;
  padding-bottom: 500px;
  width: auto;
  background-color: $secondary-bg-color;
  background-image: url('../images/pictures/mobile/main-mobile.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/pictures/mobile/main-mobile@2x.png');
    background-size: 120px;
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-o-min-device-pixel-ratio: 3/1),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url('../images/pictures/mobile/main-mobile@3x.png');
    background-size: 120px;
  }
  @include for-size(tablet-landscape) {
    background-image: url('../images/pictures/tablet/main-tablet.png');
    background-position-y: 75%;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/pictures/tablet/main-tablet@2x.png');
      background-size: 384px;
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/pictures/tablet/main-tablet@3x.png');
      background-size: 384px;
    }
  }
  @include for-size(desktop) {
    background-image: url('../images/pictures/desktop/main-desktop.png');
    background-position-x: left;
    background-position-y: 90%;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/pictures/desktop/main-desktop@2x.png');
      background-size: 672px;
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/pictures/desktop/main-desktop@3x.png');
      background-size: 672px;
    }
  }

  &::before {
    @include for-size(desktop) {
      content: '';
      position: absolute;
      top: 294px;
      height: 1px;
      width: 100%;
      background-color: #ffffff;
      -webkit-animation-name: move-rope-desktop;
      animation-name: move-rope-desktop;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: normal;
      animation-direction: normal;
    }
  }
  @include for-size(desktop) {
    padding-top: 120px;
  }
}

.our-program .common-title {
  margin-bottom: 45px;
  text-align: center;
  color: #ffffff;
  @include for-size(tablet-landscape) {
    text-align: left;
  }
  @include for-size(desktop) {
    margin-bottom: 100px;
  }
}
.program-list {
  counter-reset: section;
  @media screen and (max-width: 400px) {
    margin-left: calc(100% - 65%);
  }
  @media screen and (min-width: 401px) and (max-width: 767px) {
    margin-left: calc(100% - 59%);
  }
  @include for-size(max-desktop) {
    margin-left: 120px;
  }
  @include for-size(desktop) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
  }
}

.program-list-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px;
  @include for-size(tablet-landscape) {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @include for-size(desktop) {
    margin-top: 52px;
    margin-bottom: 0;
    width: 260px;
  }
  @include for-size(desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &:not(:last-child)::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -27px;
    width: 1px;
    -webkit-animation-name: move-rope;
    animation-name: move-rope;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;

    height: calc(100% + 40px);
    background-color: #ffffff;
    @include for-size(tablet-landscape) {
      left: -57px;
    }
    @include for-size(desktop) {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -32px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $accent-color;
    @include for-size(tablet-landscape) {
      left: -62px;
    }
    @include for-size(desktop) {
      top: -52px;
      left: 0;
      width: 16px;
      height: 16px;
    }
  }
}
@-webkit-keyframes move-rope {
  from {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  40% {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@keyframes move-rope {
  from {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  40% {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes move-rope-desktop {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  40% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }

  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}
@keyframes move-rope-desktop {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  40% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }

  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

.program-list-title {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  &::before {
    counter-increment: section;
    content: counter(section) ' ';
  }
  @include for-size(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}
.program-sublist-title {
  position: relative;
  margin-left: 30px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: $accent-color;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: $accent-color;
  }
  @include for-size(desktop) {
    font-size: 20px;
    line-height: 1.65;
  }
}
.program-chapters {
  @include for-size(tablet-landscape) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @include for-size(desktop) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.program-sublist {
  width: 100%;
  @include for-size(tablet-landscape) {
    width: calc((100% - 50px * 2) / 3);
  }
  @include for-size(desktop) {
    width: 100%;
  }
}
.program-sublist:not(:last-child) {
  margin-bottom: 8px;
  @include for-size(tablet-landscape) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}
.program-subitem {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: $primary-text-color;
  opacity: 0.5;
  @include for-size(desktop) {
    font-size: 18px;
    line-height: 1.56;
  }
}

// Абсолютная секция
.program-absolute {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 40%);
  -ms-transform: translate(-50%, 40%);
  transform: translate(-50%, 40%);
}

.chosen {
  margin-bottom: 30px;
  width: 50%;
  color: #ffffff;
  background-color: transparent;
  @include for-size(tablet-landscape) {
    width: 100%;
    text-align: center;
  }
  @include for-size(desktop) {
    display: none;
  }
}
