.registration {
  text-align: center;

  background-color: $secondary-bg-color;
  background-image: url(../images/pictures/mobile/form-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/pictures/mobile/form-mobile@2x.png);
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-o-min-device-pixel-ratio: 3/1),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url(../images/pictures/mobile/form-mobile@3x.png);
  }

  @include for-size(tablet-landscape) {
    background-image: url(../images/pictures/tablet/form-tablet.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/pictures/tablet/form-tablet@2x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(../images/pictures/tablet/form-tablet@3x.png);
    }
  }

  @include for-size(desktop) {
    padding-top: 100px;
    padding-bottom: 60px;

    background-image: url(../images/pictures/desktop/form-desktop.png);
    background-position: inherit;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/pictures/desktop/form-desktop@2x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(../images/pictures/desktop/form-desktop@3x.png);
    }
  }
}

.form {
  @include for-size(tablet-landscape) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.registration-title {
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 14px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: $primary-bg-color;

  @include for-size(tablet-landscape) {
    font-size: 26px;
    line-height: 130%;
  }

  @include for-size(desktop) {
    font-size: 46px;
    line-height: 130%;
  }
}

.registration-paragraph {
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: $primary-bg-color;

  @include for-size(tablet-landscape) {
    font-size: 14px;
    line-height: 1.21;
  }

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.form-input {
  padding: 15px 28px;

  width: 100%;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.03em;
  color: $button-text-color;

  border: 1px solid $button-text-color;
  background-color: transparent;

  -webkit-transition: border $transition-duration $timing-function;
  -o-transition: border $transition-duration $timing-function;
  transition: border $transition-duration $timing-function;

  &::-webkit-input-placeholder {
    color: $button-text-color;
  }
  &::-moz-placeholder {
    color: $button-text-color;
  }
  &:-ms-input-placeholder {
    color: $button-text-color;
  }
  &::-ms-input-placeholder {
    color: $button-text-color;
  }
  &::placeholder {
    color: $button-text-color;
  }

  @include for-size(tablet-portrait) {
    width: 280px;
    height: 48px;
  }

  @include for-size(tablet-landscape) {
    width: 390px;
    height: 48px;
  }

  @include for-size(desktop) {
    width: 478px;
    height: 70px;
  }
}

.form-name {
  margin-bottom: 30px;
}

.form-tel {
  margin-bottom: 50px;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid $accent-color;
  outline: none;
}

.form-input:invalid {
  color: red;
}

// Анимация для полей ввода

.form-field {
  position: relative;
}

.form-label {
  position: absolute;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: $button-text-color;

  @include for-size(max-desktop) {
    top: 40%;
    left: 40px;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    -o-transition: transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
  }

  @media screen and (min-width: 480px) and (max-width: 767.9px) {
    left: 120px;
  }

  @include for-size(desktop) {
    top: 50%;
    left: 40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    -o-transition: transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
  }
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: $accent-color;

  @include for-size(max-desktop) {
    -webkit-transform: translate(-40px, -40px);
    -ms-transform: translate(-40px, -40px);
    transform: translate(-40px, -40px);
  }

  @include for-size(desktop) {
    -webkit-transform: translate(-40px, -60px);
    -ms-transform: translate(-40px, -60px);
    transform: translate(-40px, -60px);
  }
}

.form .button {
  border: none;
}
