.section-teacher {
  @media screen and (max-width: 359px) {
    padding-top: calc(13% + 270px);
  }
  @media screen and (min-width: 360px) and (max-width: 767.9px) {
    padding-top: 270px;
  }

  @include for-size(tablet-landscape) {
    padding-top: 202px;
  }

  @include for-size(desktop) {
    padding-top: 329px;
  }
}

.teacher-title {
  margin-bottom: 20px;

  line-height: 1.3;

  @include for-size(tablet-landscape) {
    margin-bottom: 30px;
  }

  @include for-size(desktop) {
    margin-bottom: 50px;
  }
}

.teacher-flex {
  @include for-size(tablet-landscape) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.teacher-picture {
  @include for-size(tablet-landscape) {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 35.3%;
  }

  @include for-size(desktop) {
    width: 40.35%;
  }
}

.teacher-summary {
  @include for-size(tablet-landscape) {
    margin-left: 40px;
    width: 65%;
  }

  @include for-size(desktop) {
    margin-left: 30px;
    width: 49%;
  }
}

.teacher-title-secondary {
  margin-top: 20px;

  line-height: 1.2;

  @include for-size(tablet-landscape) {
    margin: 0;

    font-size: 20px;
    letter-spacing: 0.08em;
  }

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.teacher-title-secondary::after {
  content: '';
  display: inline-block;

  margin-top: 10px;
  margin-bottom: 20px;

  width: 100%;

  border-bottom: 1px solid $primary-text-color;

  @include for-size(desktop) {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.teacher-list::after {
  content: '';
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;

  width: 20px;
  height: 2px;

  background-color: $accent-color;

  @include for-size(desktop) {
    width: 23px;
  }
}

.teacher-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  -webkit-transition: color $transition-duration $timing-function;

  -o-transition: color $transition-duration $timing-function;

  transition: color $transition-duration $timing-function;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &:hover .teacher-page,
  &:focus .teacher-page {
    color: $accent-color;
  }

  &:hover .teacher-icon-check,
  &:focus .teacher-icon-check {
    width: 30px;

    fill: $title-text-color;
  }
}

.teacher-page {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;

  color: $title-text-color;

  -webkit-transition: color $transition-duration $timing-function;

  -o-transition: color $transition-duration $timing-function;

  transition: color $transition-duration $timing-function;

  @include for-size(desktop) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.teacher-icon-check {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 9px;

  max-width: 100%;
  width: 17px;
  height: 14px;

  fill: $accent-color;
  -webkit-transition: fill $transition-duration $timing-function,
    width $transition-duration $timing-function;
  -o-transition: fill $transition-duration $timing-function,
    width $transition-duration $timing-function;
  transition: fill $transition-duration $timing-function,
    width $transition-duration $timing-function;

  @include for-size(desktop) {
    margin-right: 35px;

    width: 24.41px;
    height: 20px;
  }
}

.teacher-point {
  letter-spacing: normal;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.teacher-accent {
  display: block;
  margin-top: 10px;

  letter-spacing: normal;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;

  @include for-size(desktop) {
    margin-top: 20px;
  }
}
