// Шапка сайта //

.primary {
  display: flex;
  align-items: center;

  @include for-size(max-tablet) {
    justify-content: space-between;
  }
}

.main-nav {
  margin-right: 60px;

  @include for-size(max-desktop) {
    display: none;
  }
}

.nav.enumeration {
  display: flex;
  color: $primary-text-color;
}

.nav-items:not(:last-child) {
  margin-right: 40px;
}

.nav-items > a {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
  color: $primary-text-color;
  transition: color $timing-function $transition-duration;

  &:hover,
  &:focus,
  &:focus {
    color: $accent-color;
  }
}

.nav-items.mobile-items > a {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  color: #ffffff;

  @include for-size(tablet-landscape) {
    font-size: 26px;
  }

  &:hover,
  &:focus,
  &:focus {
    color: $accent-color;
  }
}

// Added by Magdegaben

.nav-menu.container {
  @include for-size(tablet-landscape) {
    text-align: center;
  }
}

.mobile-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: 5;

  padding-top: 30px;

  background: rgba(17, 21, 24, 0.95);
  transform: translateY(-100%);
  transition: transform 800ms $transition-duration;

  @include for-size(tablet-landscape) {
    padding-top: 40px;
  }

  &.is-open {
    transform: translateY(0%);
  }

  @include for-size(desktop) {
    display: none;
  }

  & .nav-menu {
    opacity: 0;
    transition: 500ms $transition-duration;
  }

  &.is-open .nav-menu {
    opacity: 1;
    transition: 500ms $transition-duration;
  }
}

.mobile-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  @include for-size(tablet-landscape) {
    margin-bottom: 159px;
  }
}

.mobile-list {
  margin-bottom: 50px;

  @include for-size(tablet-landscape) {
    display: inline-block;
    text-align: left;
  }
}

.icon-close {
  fill: #ffffff;
}

body.modal-open {
  overflow: hidden;
}
